<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create League</title>
        <meta charset="UTF-8">
        <meta name = "username" content = {{username}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/create_league.js"></script>
    </head>

    <body>

        <p><a href = "/">Home</a></p>

        <div id = "half_block">
            <h4 class="default_text">Enter the name of your league</h4>

            <p>League Name:<input id="league_name_input"></input></p>
            <p>Conference:<select id="conference_selector"></select></p>
            <p><button id="league_creator_button">Create League</button></p>

        </div>

        <div id = "half_block" class="default_text">
            <h4 id="error_message"></h4>
        </div>


    </body>
</html>
