<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Manager</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/create_manager.js"></script>
    </head>

    <body>

        <p><a href = "/">Home</a></p>

        <div id = "half_block" class="center_text">
            <h4 class="default_text">Enter a username and password</h4>

            <p>Username:<input id="username_input"></input></p>
            <p>Password:<input id="password_input"></input></p>
            <p><button id="manager_creator_button">Create Account</button></p>

        </div>

        <div id = "half_block" class="default_text">
            <h4 id="error_message"></h4>
        </div>


    </body>
</html>
