<!DOCTYPE html>
<html lang="en">
    <head>
        <title>League Home</title>
        <meta charset="UTF-8">
        <meta name = "league_name" content = {{league_name}}>
        <meta name = "username" content = {{username}}>
        <link rel="stylesheet" href="../../static/general.css">
        <script type="text/javascript" src="../../static/league_home.js"></script>
    </head>

    <body>
        <p><a href="/">Home</a></p>

        <h4 id = "welcome_message"></h4>

        <div id="two_thirds_block" class="default_text">
            <p><select id="managers_selector"></select></p>
            <p><button id="manager_selector_button">Select Manager</button></p>

        </div>

        <div id = "one_third_block">

          <p>¡Congratulations on viewing league {{league_name}}!</p>

        </div>

    </body>
</html>
